<tr>
  <td><%= gist.user.email%></td>
  <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question)%></td>
  <td><%= link_to gist.url, gist.url%></td>
  <td><%= link_to t('nav.delete'), admin_gist_path(gist),
                          method: :delete,
                          data: {confirm:  t('delete.message')}%></td>
</tr>
