

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.email')%></th>
      <th><%= t('.queshion_body')%></th>
      <th><%= t('.url')%></th>
    </tr>
  </thead>

  <tbody>
    <%= render @gists %>
  </tbody>
</table>
