<h1><%= t('.question_body', body: @answer.question.body)%></h1>
<h2><%= t('.body', body: @answer.body)%></h2>

<p>
  <%= link_to t('nav.back'), admin_question_path(@answer.question)%> ||
  <%= link_to t('nav.edit'), edit_admin_answer_path(@answer) %>
</p>
