.octicon {
  height: 35;
  display: inline-block;
  vertical-align: text-top;
  fill: rgb(20, 220, 20);
}

.icon-red {
  height: 35;
  fill: crimson
}

.progress-bar {
  width: 100%;
  background-color: grey;
}

.progress {
  width: 15%;
  height: 30px;
  background-color: rgb(58, 224, 16);
}
