<p><b>Title:<%= @test.title%></b></p>
<table>
  <tr>
    <th>Questions</th>
    <th colspa = "3">Action</th>
  </tr>

  <%= render @test.questions%>
</table>

<p><%= link_to 'New question', new_test_question_path(@test)%></p>

<p><%= link_to 'Back', tests_path%></p>
